<header class="navbar navbar-fixed-bottom" id="headerNavBar">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <%= form_for(:bookmark, url: "/bookmarks", :html => { :class => "formNoformat"}) do |f| %>
          <%= f.text_field :url, placeholder: "url", required: true, id:"addBookmarkField" %>
          <%= f.submit "+ add", class: "btn btn-small btn-warning removeFormat" %>
        <%end%>
      
        <%=hidden_field 'email', @username, id:"username", value: @username%>
      <%else%>
        <h1 class="left" id="logo">My Bookmark Tabs</h1>
      <%end%>
      <nav>
        <ul class="nav pull-right">
          <li>
            <a href= '#' rel="tooltip" title="help" id="helpButton">
            <i class="icon-question-sign icon-white"></i>
            </a>
          </li>
          <% if signed_in? %>
              <li>
                <%= link_to raw('<i class="icon-off icon-white"></i>'), signout_path, rel: "tooltip", title:"logged in as", method: "delete", id: "logOutIcon" %>
              </li>
          <% end %>

        </ul>
      </nav>

    </div>
  </div>
</header>