<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all" %>  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <div class="container main">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application", "https://raw.github.com/cowboy/jquery-resize/v1.1/jquery.ba-resize.min.js" %>
</body>
</html>
